 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Roboto", sans-serif;
}
.container {
    width: min(90%, 1120PX);
    margin-inline: auto;
} 
.hamburger{
    display: none;

}
    .header-desk{
  position: fixed;
    width: 100%;
    padding: 20px 0;
    background: rgba(0,0,0,0.3); 
   height: 5.5rem

    
}
.desktop-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;    
}
.desktop-menu h1{
    margin-top: 13px;
}
.menus-link {
    display: flex;
    gap: 30px;
    color: white;

}
 .menus-link li {
    list-style: none;

 }
 .menus-link li a {
    text-decoration: none;
    color: white;
    font-size: 0.8125rem;
    font-size: 20px;
 }
 .container h1 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    

 }
 .btn {
    padding: 11px 17px;
    background-color: #ed563b;
    color: white;
    border: none;
    font-size: 20px;
    
 }
 #s {
    color: #ed563b;
 }
 .menus-link li a:hover {
    color: #ed563b;
 }
 .mobile-menu{
    display: none;
 }
   .hero {
        display: flex;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
         url(https://plus.unsplash.com/premium_photo-1661920538067-c48451160c72?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8R1lNfGVufDB8fDB8fHww) center / cover, no-repeat;
        height: 100vh;
        margin-top: 0;
    }
    .hero .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }
    #gym {
        font-size: 5.125rem;
    
    }
.g {
    color: #ed563b;
}
.hero .container p {
    font-size: 1.125rem;
    color: white;
    font-weight: bold;
}
.main-container{
    background-color: rgb(255, 255, 255);
    height: 90vh;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title div{
    font-size:28px;
    margin-bottom: 20px;
    margin-top: 4.5rem;
    font-weight: 1000;
    text-transform: uppercase;
    line-height: 33.6px;
    letter-spacing: 0.5px;
}
.title span{
    color: #ed563b;
}
.container .title p{
    font-size: 14px;
    color: #7a7a7a;
    font-weight: 400;
    text-align: center;
    line-height: 1.5625rem;

}
.container .title img{
    padding-bottom: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 70px;
    margin-top: 40px;
   
}
.program-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.program-item img {
    width: 80px;
    height: 80px;
    background-color: #ed563b;;
    padding: 14px;
    border-radius: 4px;}
    
.program-item h3 {
    font-size: 19px;
    margin-bottom: 5px;
    font-weight: 600;
}

.program-item p {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    line-height: 25px;
}

.program-item a {
    font-size: 13px;
    color: #f36100;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
}
.begin-today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 6rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://plus.unsplash.com/premium_photo-1661265933107-85a5dbd815af?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3ltfGVufDB8fDB8fHww) center /cover no-repeat;
    

}
.today-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.today-title p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.today-title div {
    text-transform: uppercase;
    color: white;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}
.today-title span {
    color: #ed563b;
}
.main-class {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    margin-top: 30px;

}
.main-class .left-class {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.main-class .left-class .class {
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 0 20px;
    padding: 20px;
    display: flex;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.right2{
display: flex;
flex-direction: column;
gap: 20px;
margin-block: 20px;

}

.main-class .left-class .class img {
    height: 35px;
    width: 35px;
}
.main-class .right-class img {
    width: 699px;
    height: 297px;
}
#btn2 {
    padding: 20px;
}
.main-date{
    height: 90vh;
    margin-top: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://plus.unsplash.com/premium_photo-1661265933107-85a5dbd815af?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3ltfGVufDB8fDB8fHww) center /cover no-repeat;

}
#det{
    color: white;
}
.date-row .data-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;

}
.data-title div{
    display: flex;
    gap: 0 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.data-title div:hover{
    color: #ed563b;
    
}


.main-table-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.main-table-desktop table{
    width: 90%;
    border-collapse: collapse;
}
.main-table-desktop table tr td{
    color: white;
    padding: 40px;
}
.main-grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-block:  30px;
    gap: 30px;
}

.grid2{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    gap: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.grid2 h5{
    color: #ed563b;
    font-size: 13px;

}
.grid2 h3{
    font-size: 19px;
    font-weight: 600;
}
.grid2 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #7a7a7a;
}

.grid2 img{
    width: 270ox;
    height: 204px;
    border-radius: 8px;
}
.icon{
    margin-top: 20px;
}

.main-map{
    height: 65vh;
    margin-top: 7rem;
    margin-bottom: 5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://plus.unsplash.com/premium_photo-1661265933107-85a5dbd815af?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3ltfGVufDB8fDB8fHww) center /cover no-repeat;

}

.map-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.left-map iframe{
     width: 100%;
    height: 620px;
}
.right-form{
    padding: 40px;
    margin: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#id-form{
    
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    width: 700px;
    border-radius: 10px;
    height: 400px;
    margin-top: 100px;
   
}

.form-control1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-control {
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #7a7a7a;
    background: none;
}
.btnn{
    display: flex;
    background-color: #ed563b;
    padding: 10px;
    border: none;
    color: white;
    width: 150px;
}
.footer1{
    text-align: center;
    margin-bottom: 40px;
}
.footer1 span{
    color: #ed563b;
}

@media (min-width: 769px) and (max-width: 2000px){
  .main-table-mobile-menu{
    display: none;
}
.main-table-desktop{
    display: block;

}
}
 @media (max-width: 768px){
   .menus-link{
    display: none;
} 
#bmd{
    display: none;
}
.header-desk{
    position: fixed;
    background-color: white;
}
.hamburger{
    display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 2%;
        padding: 8px;
        right: 10%;
        font-size: 1.5rem;
}
.mobile-menu{
    background-color: rgb(255, 255, 255);
      display: flex;
      width: 400px;
      margin-inline: auto;
      justify-content: center;
      align-items: flex-end;
      height: 370px;
      margin-bottom: 40px;
      transform: translatex(0%);
}
.mobile-menu[data-visible="false"]{
      transform: translatex(150%);

}
.hamburger i[data-visible="true"]{
    display: block;
}
.hamburger i[data-visible="false"]{
    display: none;
}
.mobile-menu .navigation .menus-link1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        list-style: none;
       
    }
    .mobile-menu .navigation .menus-link1 a{
        text-decoration: none;
    }
    .mobile-menu .navigation .btn{
        width: 400px;
        margin-top: 15px;
        
    }
    .container h1 {
    color: black;

}
.hero .container h1{
    color: white;
    font-size: 30px;
    text-align: center;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: self-start;
}
.program-item{
    margin: 0;
    padding: 0;
}
 
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
    
}

.begin-today{
    display: flex;
    align-items: self-start;
    margin-top: 26rem;
}
.today-title div{
    text-align: center; 


}
.today-title p{
    line-height: 25px;
}
.main-class{
    display: flex;
    flex-direction: column;
}
.main-class .right-class img{
    width: 359px;
    height: 152px;
    border-radius: 15px;
}
.data-title{
    display: flex;
    flex-wrap: wrap;
}


.main-table-desktop{
    display: none;
}

.main-table-mobile-menu{
    display: block;
}
.main-table-mobile-menu{
    margin-top: 20px;
}
.main-table-mobile-menu table{
      border-collapse: collapse;

}
.main-table-mobile-menu table tr td{
    color: white;
    padding: 10px;
}
.main-grid2{
    display: grid;
    grid-template-columns: 1fr;
     
  
}
.grid2{
    padding: 20px;
}

.main-map{
    height: 1200px;
    width: 100%; 
    margin-bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://plus.unsplash.com/premium_photo-1661265933107-85a5dbd815af?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3ltfGVufDB8fDB8fHww) center /cover no-repeat;}

.map-grid{
    display: grid;
    grid-template-columns: 1fr;


}
.left-map iframe{
     width: 100%;
    height: 620px;
}
.right-form{
    padding: 30px;
    margin: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#id-form{
    
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
   
    padding: 50px;
    width: 330px;
    border-radius: 8px;
    height: 500px;
    margin-top: 100px;
   
}

.form-control1{
    display: flex;
    flex-direction: column;
  
}

.form-control {
    width: 100%;
  
    border-radius: 3px;
    border: 1px solid #7a7a7a;
    background: none;
}
.btnn{
    display: flex;
    background-color: #ed563b;
    border: none;
    color: white;
    width: 150px;
}

.footer1{
    text-align: center;
    margin-block: 20px;
}


 }